body {
  background:  teal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}
div {
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}